@import "fontAwesome/font-awesome/scss/font-awesome.scss";

.header-main-logo {
	height: 50px;
	float: left;
	margin-left: 5%;
	margin-left: 5%;
}
.header-main-title {
	line-height: 3;
	font-size: 20px;
	font-family: Comic Sans MS;
}